{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav sticky padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="">ADA</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="" class="usa-current">Current page</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="#102-dimensions-for-adults-and-children">ADA 102</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="" class="usa-current">103</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item">
                <a href="">103.1</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="">103.2</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="" class="usa-current">Grandchild link</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="">Grandchild link</a>
              </li>
            </ul>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>
        </ul>
      </li>
      <li class="usa-sidenav__item">
        <a href="">Parent link</a>
      </li>
    </ul>
  </nav>
</aside>
